```css
.password-box {
  position: relative;
  width: 100%;
}

.password-box input {
  width: 100%;
  height: 45px;

  padding: 0 70px 0 13px;

  color: var(--white);
  background: #071a30;

  border: 1px solid var(--line);
  border-radius: 7px;

  outline: none;
}

.password-box input:focus {
  border-color: var(--blue-light);
}

.password-box button {
  position: absolute;

  right: 6px;
  top: 50%;

  transform: translateY(-50%);

  width: 54px;
  height: 31px;

  padding: 0;

  color: #9db0c4;
  background: #102b49;

  border: 1px solid #244866;
  border-radius: 5px;

  font-size: 11px;
  line-height: 29px;
  text-align: center;
}

.password-box button:hover {
  color: white;
  background: #173a60;
}

.password-box button:active {
  transform: translateY(-50%);
}
```
